<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833863875923-cps24tm8nigchumonkac4n822hd765tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833863875923-cps24tm8nigchumonkac4n822hd765tc</string>
	<key>API_KEY</key>
	<string>AIzaSyC-4d4J6nWXj4Q8EXxnD9dPMK7TjbP-hq4</string>
	<key>GCM_SENDER_ID</key>
	<string>833863875923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.guestbook</string>
	<key>PROJECT_ID</key>
	<string>gestabok-nhh</string>
	<key>STORAGE_BUCKET</key>
	<string>gestabok-nhh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833863875923:ios:754a65f5d0965d450b35a6</string>
	<key>DATABASE_URL</key>
	<string>https://gestabok-nhh.firebaseio.com</string>
</dict>
</plist>